<!-- <h2>Carte {{card.id}} </h2>
<div><span>couleur: </span>{{card.couleur}}</div>
<div><span>valeur: </span>{{card.valeur}}</div>

creer un champ texte saisissable qui contient la valeur de l'objet dans
(ngModel) et dont la valeur se met a jour quand on modifie le texteBox :
on parle de two-way binding
<div>
  <label>name:
    <input [(ngModel)]="card.couleur" placeholder="couleur"/>
  </label>
</div> 

<h2>My Cards</h2>
<ul class="cards">
  <li *ngFor="let card of cards">
    <a routerLink="/card/{{card.id}}">
    <span class="badge">{{card.id}}</span> {{card.valeur| uppercase}} de {{card.couleur| uppercase}}
  </a>
  </li>
</ul> -->

<!-- <div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cartes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards">
          <div class="card" style="width: 18rem;">
            <img src="assets/img/{{card.img}}.png" class="card-img-top">
            <div class="card-body">
              <p class="card-text">{{card.valeur| uppercase}} de {{card.couleur| uppercase}}</p>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<!-- on bind la page general vers la page de detail en lui passant la valeur selectedCard qui sera gere dans le CardDetailComponent.ts-->
<div class="row card-group">
  <div class="col-3"  *ngFor="let card of cards">
    <div class="card" style="width: 18rem;">  
      <img src="assets/img/{{card.img}}.png" class="card-img-top" onclick="">
      <div class="card-body">
        <p class="card-text">{{card.valeur| uppercase}} de {{card.couleur| uppercase}}</p>
      </div>
      </div>
  </div>
</div>