<ng-container *ngIf="card">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        Carte aléatoire
      </div>
      <img class="card-img-top smallimg mx-auto" src="assets/img/{{card.img}}.png" alt="Card image cap"
        style="width: 18rem;">
      <div class="card-block catCard">
        <h4 class="card-title">{{card.valeur | uppercase}} de {{card.couleur | uppercase}}</h4>
        <li class="list-inline-item">
          <a (click)="goBack()" class="btn btn-primary">Retour</a>
        </li>
        <li class="list-inline-item">
          <a (click)="getRandomCard()" class="btn btn-primary">Autre carte aléatoire</a>
        </li>
      </div>
    </div>
  </div>
</ng-container>